[SddmGreeterTheme]
Name=Gentoo Minimal
Description=Current wallpaper with a floating password field
Author=przvl
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=gentoo-minimal
Theme-API=2.0
QtVersion=6
